{% extends 'Core/base.html' %}
{% load static %}
{% load Core_tags %}
{% block title %}Галерея | Сброс пароля{% endblock %}

{% block content %}
    <div id="content" class="d-none container content_fix_for_header flex-col-center flex-grow-1" data-bs-theme="dark"
         style="max-width: 400px;">
        <div class="row disable-tap-and-selection ">
            <form class="px-3 py-1 text-center" method="post" action="{% url 'password_reset' %}">{% csrf_token %}
                <h1 class="text-dark fw-5 fs-1">Сброс пароля</h1>
                {% if invalid %}
                    <div><span class="text-danger">{{ invalid }}</span></div>
                {% endif %}
                <div class="mb-3 form__group fs-5 mt-4">
                    <input type="email" class="form__field text-center fs-4 fw-7"
                           placeholder="Email" name="email" id='email' required/>
                    <label for="email" class="form__label" style="width: 100%">Почта</label>
                </div>
                <div class="text-center pt-3 pb-1">
                    <button type="submit" id="button"
                            class="btn-submit fs-5 mt-3">Далее</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}