{% extends 'Core/base.html' %}
{% load static %}

{% block title %}Галерея - твой салон украшений{% endblock %}

{% block content %}
    <div id="content" class="container d-none flex-col flex-grow-1" style="max-width: 1000px;">
        {% if promos.count != 0 %}
            <section>
                {% include 'Core/includes/promo_carousel.html' %}
            </section>
        {% endif %}
        <section>
            <h2 class="fs-xx5 text-center">Новинки</h2>
            {% include 'APP_shop/includes/products_x_scroll_bar.html' with products=new_products %}
        </section>
        <section>
            <h2 class="fs-xx5 text-center">Хиты продаж</h2>
            {% include 'APP_shop/includes/products_x_scroll_bar.html' with products=hit_products %}
        </section>
    </div>
    <script src="{% static 'APP_shop/js/create_product_card.js' %}"></script>
{% endblock %}
