{% extends 'Core/index.html' %}
{% load static %}
{% load Core_tags %}

{% block title %}xlartas | Privacy Policy{% endblock %}

{% block content %}
    <div class="container content_fix_for_header overflow-y-scroll"
         data-bs-theme="dark"
         style="max-width: 600px;">
        <div class="row disable-tap-and-selection overflow-hidden">
            <p class="fs-2 text-dark-emphasis text-center">Privacy Policy</p>
            <p class="fs-5 text-dark-emphasis">How do we collect your personal details?</p>
            <p class="fs-6 text-white-50">
                &nbsp;&nbsp;&nbsp;&nbsp;When you sign up for our service,
                we store your account's email address and username. In the future,
                the nickname and the name of the guild, if you add them. We do not have access to the password
                or other details of your third-party account.</p>

            <p class="fs-5 text-dark-emphasis">What other data do we collect from you?</p>
            <p class="fs-6 text-white-50">
                &nbsp;&nbsp;&nbsp;&nbsp;When you use xlartas's products, we may collect various usage data and
                errors to make
                future improvements to our service and solve your problems more efficiently.</p>

            <p class="fs-5 text-dark-emphasis">Do we share your information with third parties?</p>
            <p class="fs-6 text-white-50">
                &nbsp;&nbsp;&nbsp;&nbsp;No, any data we collect from you, solely serves the purpose of
                potentially
                improving our service. We do not share or sell any information to third-parties.
            </p>
        </div>
    </div>
{% endblock %}
