{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Core/css/promo_carousel.css' %}">
<div id="carouselPromo" class="carousel slide mt-2 " data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPromo" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPromo" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPromo" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
        {% for promo in promos %}
            <div data-bs-interval="4000"
                 class="carousel-item
                 promo-carousel-item
                 {% if forloop.counter == 1 %}active{% endif %}"
            >
                <img src="{{ promo.image.url }}" class="w-100 " alt="...">
                <div type="button"
                     class="carousel-caption h-100"
                     data-bs-toggle="modal"
                     data-bs-target="#promo-modal-{{ promo.id }}">
                    <div class="flex-col-end h-100 justify-content-md-center">
                        <div class="only_pc px-5 py-4 bg-black-45 flex-col-center gap-2 rounded-2 disable-tap-and-selection">
                            <h2 class="fs-x6 text-white mb-2 text-shadow-0-0-13-04">{{ promo.title }}</h2>
                            <p class="fs-4 d-none d-md-block">{{ promo.desc|truncatewords:20 }}</p>
                        </div>
                        <div class="only_touch disable-tap-and-selection">
                            <h2 class="fs-x6 text-white mb-2 text-shadow-0-0-13-04">{{ promo.title }}</h2>
                            <p class="fs-4 d-none d-md-block">{{ promo.desc|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>


            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPromo" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% for promo in promos %}
    <div class="promo-modal modal fade border-0" id="promo-modal-{{ promo.id }}" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="
        modal-dialog
        modal-dialog-centered
        modal-dialog-scrollable
        w-100 mx-auto p-0">
            <div class="modal-content  border-0">
                <div class="modal-body h-100 p-0 overflow-y-hidden position-relative">
                    <img class="mb-3 w-100" src="{{ promo.image.url }}" alt="">
                    <div class="flex-col-center gap-2">
                        <div class="promo-modal-title flex-col-center">
                            <h3 class="fs-2 text-white"><span>{{ promo.title }}</span></h3>
                        </div>
                        <p class="px-3 fs-5 mb-3">{{ promo.desc }}</p>
                        <ul class="px-3 fs-5 flex-col-center gap-2 mb-2">
                            <li>Начало акции: {{ promo.date_published|date:"d F Y" }}</li>
                            <li>Конец акции: {{ promo.date_expired|date:"d F Y" }}</li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="{% url 'contacts' %}" class="btn-1">Соц. сети</a>
                    <a href="{% url 'contacts' %}" class="btn-1">Свяжитесь с нами</a>
                    <button type="button" class="btn-1" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script src="{% static 'Core/js/promo_carousel.js' %}"></script>